      :root {
         --main-bg-color: darkgreen;
         --secondary-bg-color: forestgreen;
         --logo-bg-color: rgb(238, 238, 238);
         --background-color: rgb(188, 243, 192);
         --shadow-bg-color: rgba(0, 0, 0, 0.4);
     }
     
     html,
     body {
         height: 100%;
         background-color: var(--background-color);
         font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
     }
     
     .page {
         flex: 1;
     }
     
     .page__description {
         display: flex;
         flex-direction: column;
         color: var(--main-bg-color);
         font-size: 23px;
         margin-top: 20px;
         height: 30px;
         width: 100%;
     }
     
     @media(max-width: 1350px) {
         .page__description {
             width: 80%;
         }
     }
     
     @media (max-width: 666px) {
         .wrapper__logo {
             font-size: 55px;
             display: flex;
             align-items: center;
         }
         .header {
             width: 100%;
         }
         .page__description {
             width: 65%;
         }
     }
     
     @media (max-width: 457px) {
         .wrapper__logo {
             font-size: 25px;
             display: flex;
             justify-content: start;
         }
         .header {
             width: 100%;
             display: flex;
         }
         .page__description {
             width: 65%;
         }
         .auth-buttons {
             padding: 4px;
             margin-right: 8px;
             display: flex;
             flex-direction: column;
         }
     }