:root {
    --main-bg-color: darkgreen;
    --secondary-bg-color: forestgreen;
    --logo-bg-color: rgb(238, 238, 238);
    --shadow-bg-color: rgba(0, 0, 0, 0.4);
    --shadow-light-color: rgb(199, 238, 199);
}

.wrapper {
    flex: 1;
}

.wrapper__output {
    color: var(--main-bg-color);
    font-size: 20px;
    margin-top: 20px;
    height: 70px;
    width: 100%;
}

.article__wrapper {
    display: flex;
    justify-content: left;
    color: var(--main-bg-color);
}

.wrapper-signup {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 30px 0 30px;
    padding: 30px;
    border: solid 1px var(--main-bg-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid var(--main-bg-color);
    background: var(--shadow-light-color);
    box-shadow: inset 0px 0px 15px var(--shadow-light-color);
    -moz-box-shadow: inset 0px 0px 15px var(--shadow-light-color);
    -webkit-box-shadow: inset 0px 0px 15px var(--shadow-light-color);
}

.btn-form {
    padding: 10px;
    text-decoration: none;
    color: var(--logo-bg-color);
    border: none;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 0px 15px var(--shadow-bg-color);
    -moz-box-shadow: 0px 0px 15px var(--shadow-bg-color);
    -webkit-box-shadow: 0px 0px 15px var(--shadow-bg-color);
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.main-form {
    display: flex;
    justify-content: left;
    color: var(--main-bg-color);
}

.authority_main {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: var(--logo-bg-color);
}

@media (max-width: 547px) {
    .wrapper__logo {
        font-size: 48px;
        display: flex;
        align-items: center;
    }
    .header {
        width: 100%;
    }
}

@media (max-width: 412px) {
    .wrapper__logo {
        font-size: 25px;
        display: flex;
        align-items: center;
    }
    .header {
        width: 100%;
    }
    .auth-buttons {
        padding: 4px;
        margin-right: 8px;
        display: flex;
        flex-direction: column;
    }
}